.news-letter{
    width:65%;
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 14px;
    margin-bottom: 150px;
    background-color: aquamarine;
    gap: 30px;
    margin-top: -400px;
    border-radius: 15px;
}
.news-letter h1{
    color: #454545;
    font-size: 85px;
    font-weight: 600;
    align-items: center;
}
.news-letter p{
    color: #454545;
    font-size: 30px;
}
.news-letter div{
    display: flex;
    align-items: center;
    justify-content: white;
    width :730px;
    height: 70px;
    border-radius: 80px; 
    border: 1 px solid #e3e3e3;


}
.news-letter input{
    width:500px;
    height: 50px;
    margin-left: 100px;
    border:none;
    outline: none;
    color:#616161;
    font-family: Poppnis;
    font-size: 16px;
    align-items: center;
    border-radius: 15px;
margin-top: -20px;

}
.news-letter div button{
    width:200px;
    height:50px;
    border-radius:80px;
    background: #454545;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 40px;
    margin-top: -20px;
}
@media (max-width:800px) {
    .news-letter{
        width:750px;
        height:50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 0 14px;
        margin-bottom: 150px;
        background-color: aquamarine;
        gap: 30px;
        margin-top: 300px;
        margin-left: 23px;

    }
}