.shopcategory-products{
    display: grid;
   grid-template-columns: 4fr 4fr 4fr 4fr;
   margin-top: 2px;
   gap: 10px;
}
@media (max-width:440px) 
{
    .shopcategory-products{
    display: grid;
    grid-template-columns: 4fr 5fr;
    margin-top: 20px;
    align-content: space-between;
    margin-left: 20px;
    gap: 350px;
    row-gap: 50px;
    margin-top: 50px;
    
    }
    
    
}